Repository Zakey-Pilot/responsive-site, pull requests merged in 2025-02, with the labels that each got.

#5 add group norms
  package.json
  planning/group-norms.md
Labels: planning, review

#11 add user personas
  .cspell.json
  planning/user-personas.md
Labels: planning, review

#8 add mohammed availability
  package-lock.json
Labels: planning

#13 Plan/design
  .cspell.json
  planning/design.md
  public/assets/wireframe.png
Labels: planning

#9 adding the backlogs
  .cspell.json
  planning/backlog.md
Labels: planning

#16 Add luorike wireframe
  planning/loruki-wirframe.png
Labels: planning

#21 update project definition
  .cspell.json
  README.md
  public/assets/screenshot.png
Labels: documentation, review

#18 add development strategy
  .cspell.json
  planning/development-strategy.md
Labels: planning, review

#15 Add Rahaf's availability
  .cspell.json
  planning/communication.md
Labels: planning

#26 add site title
  index.html
  styles/index.css
  styles/utilities.css
Labels: review, feature, HTML, CSS

#29 adding the introduction
  index.html
  styles/index.css
  styles/utilities.css
Labels: feature, HTML, CSS

#34 Add statistics section
  index.html
  planning/project-board.md
  styles/index.css
  styles/utilities.css
Labels: feature, HTML, CSS

#20 add learning goals
  .cspell.json
  planning/learning-goals.md
Labels: planning, review

#35 Add programming languages
  index.html
  public/assets/programming-languages/clojure.png
  public/assets/programming-languages/csharp.png
  public/assets/programming-languages/go.png
  public/assets/programming-languages/node.png
  public/assets/programming-languages/php.png
  public/assets/programming-languages/python.png
  public/assets/programming-languages/ruby.png
  public/assets/programming-languages/scala.png
  styles/index.css
  styles/utilities.css
Labels: feature, HTML, CSS, software engineer

#37 Add story sequence
  planning/backlog.md
  public/assets/backlog.png
Labels: planning

#38 add navbar links
  index.html
  styles/index.css
Labels: review, feature, HTML, CSS, all users

#41 add retrospectives
  planning/retrospective.md
Labels: documentation, review
